<div class="wrapper">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="row align-items-center my-4">
                    <div class="col">
                        <h2 class="h3 mb-0 page-title">افزودن دسترسی</h2>
                        <hr class="my-4">

                    </div>

                </div>
                <form>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username">نام </label>
                            <input type="text" id="username" class="form-control">
                        </div>
                        
                    </div>
                    <div class="form-row col-auto mt-4">
                        <button type="button" class="btn btn-primary">ذخیره</button>
                    </div>
                </form>
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> 
</div> 